@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.wallpp{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  filter: brightness(55%);
}
.main-book{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
}
/* ========================= Navigation ============================== */
.main-book nav{
  display: grid;
}
.main-book nav .item{
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#choose{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  top: var(--offSetY);
  z-index: -1;
  transition: 0.35s;
}
.main-book nav .item .item-name{
  font-family: 'Pacifico', cursive;
  font-size: 120%;
  /* font-weight: bold; */
  color: white;
}
/* ===================================================================== */
.main-book .content-container{
  position: relative;
  overflow: hidden;
}
/* .main-book .content-container::-webkit-scrollbar{
  width: 5px;
  height: 0;
}
.main-book .content-container::-webkit-scrollbar-track{
	border-radius:25px;
}
.main-book .content-container::-webkit-scrollbar-thumb{
	background-color: darkgrey;
	outline: 1px solid slategrey;
  border-radius:25px;
} */
.main-book .content-container .wallpp{
  position: absolute;
  height: 100%;
  background: url(girl.jpg) no-repeat;
  background-size: cover;
  z-index: -1;
  filter: brightness(30%);
}
.main-book .content-container .show{
  /* Điểm chung */
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  opacity: 0;
  animation: fade 0.5s forwards;
}
.main-book .content-container .block{
  display: none; 
}
@keyframes fade{
  0%{opacity: 0; transform: translateY(20px);}
  100%{opacity: 1; transform: translateY(0);}
}
/* ============================ Home ============================= */
.main-book .content-container .home-content{
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.main-book .content-container .home-content .name{
  font-size: 300%;
  text-transform: uppercase;
  text-align: center;
  color: wheat;
}
.main-book .content-container .home-content .jobname{
  color: gray;
  margin-top: 10px;
}
.main-book .content-container .home-content .by{
  position: absolute;
  bottom: 5%;
  color: gray;
}
/* ========================== About me ============================ */
.main-book .content-container .about-content{
  padding: 10%;
  align-items: center;
}
.main-book .content-container .about-content .bar{
  width: 30px;
  height: 5px;
  background: rgb(151, 183, 231);
}
.main-book .content-container .about-content .title{
  font-size: 200%;
  color: wheat;
  margin: 5px 0 30px 0;
}
.main-book .content-container .about-content .content{
  text-align: center;
  margin-bottom: 100px;
  color: white;
}
.main-book .content-container .about-content ul{
  margin: 0;
  padding: 0;
}
.main-book .content-container .about-content ul li{
  color: white;
  margin-top: 15px;
}
/* ========================== Skill ================================= */
.main-book .content-container .skill-content{
  padding:35px 35px 0 35px;
}
.main-book .content-container .skill-content .title{
  color: wheat;
  border-bottom: 2px solid wheat;
  width: 50%;
  padding-bottom: 10px;
  font-size: 150%;
  margin-bottom: 10%;
}
.main-book .content-container .skill-content .box{
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 35px;
}
.main-book .content-container .skill-content .box .name{
  font-size: 120%;
  color: wheat;
}
.main-book .content-container .skill-content .percent{
  display: flex;
  align-items: center;
}
.main-book .content-container .skill-content .percent .pc-bar{
  height: 35%;
  width: 0;
  background: white;
}
/* =========================== Education ============================= */
.main-book .content-container .education-content{
  justify-content: center;
  align-items: center;
}
.main-book .content-container .education-content h1{
  color: wheat;
}
/* =========================== Contact =============================== */
.main-book .content-container .contact-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: white;
}
a{
  text-decoration: none;
  outline: none;
  font-weight: bold;
}
.main-book .content-container .contact-content div{
  margin: 25px 0 25px 0;
}
.main-book .content-container .contact-content .facebook a{
  color: lightseagreen;
}
.main-book .content-container .contact-content .instagram a{
  color: brown;
}