<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../style/style.css">
  <title>Log</title>
</head>
<body>
  {{!-- <div class='bg-log-page'></div>
  <div class='black-glass-log-page'></div> --}}
  <div class='home-btn'>
    <a href="/"><< Home</a>
  </div>
  {{{body}}}
</body>
</html>