<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WallShop</title>
  <link rel="stylesheet" href="../../style/style.css">
  {{!-- <script src="../../js/tools.js"></script> --}}
</head>
<body>
  <div class='log'>
    {{#if this.logged}}
    <a href="/upload">Upload Image</a>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="">SignUp</a>
    {{/if}}
  </div>
  <div class='brand'>WallShop</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="##">Nature</a></li>
    <li><a href="###">City</a></li>
    <li><a href="####">Art</a></li>
    <li><a href="#####">More++</a></li>
  </ul>
  {{{body}}}
</body>
</html>