<div class="container-fluid">
  <div class="">
    <div class="border">
      <p class="my-2 py-2 title mx-1">Image Encryption Tools</p>
      <div class="py-2">
        <label class="mx-1" for="type">Type </label>
        <select class="just-a-btn py-1 px-2 pointer" disabled name="option" id="type">
          <option value="3Des">3Des</option>
        </select>
        <label class="mx-1" for="password">Password </label>
        <input class="px-1" type="password" name="password" id="password">
      </div>
      <div class="py-2 mx-1">
        <label class="just-a-btn px-2 py-1 uploadBtn pointer" for="fileUpload">Upload file here</label>
        <input type="file" name="file" id="fileUpload" accept="image/png, image/jpg, image/jpeg, image/gif, .crypt" 
        multiple class="d-none">
        <button id="modeBtn" class="just-a-btn py-1 px-3 mx-1 chooseBtn" encrypt="true">Encrypt</button>
        <button id="execBtn" class="just-a-btn py-1 px-3 mx-1 execBtn">Execute</button>
      </div>
    </div>
    <div class="d-flex flex-wrap border justify-content-center my-4">
      <div class="contain-file p-4 m-4">
        <p>Upload content</p>
        <div class="border">
          <ul id="listUpload">
          </ul>
        </div>
      </div>
      <div class="contain-file p-4 m-4">
        <p>Result content</p>
        <div class="border">
          <ul id="result">
          </ul>
        </div>
      </div>
      <div class="preview-file p-4 m-4">
        <p>Preview</p>
        <div class="border d-flex justify-content-center" id="preview">
          
        </div>
      </div>
    </div>
  </div>
</div>