@font-face{
  font-family: "PatrickHand";
  src: url('../font/Patrick_Hand/PatrickHand-Regular.ttf');
}

html, body{
  margin: 0;
  padding: 0;
}

.p-0{
  padding: 0;
}

.m-0{
  margin: 0;
}

.pointer{
  cursor: pointer;
}

.position-fixed{
  position: fixed;
}

.z--1{
  z-index: -1;
}

.z-100{
  z-index: 100;
}

.nav-link{
  color: black;
}

.pc-nav .nav-link{
  margin: 0 0.2vw 0 0.2vw;
}

.pc-nav a{
  font-size: 1.2vw;
}

.active{
  border-bottom: 2px solid black;
}

a:hover{
  color: black;
  text-decoration: none;
}

a,
a:focus{
  color: black;
}

.my-dropdown-menu{
  width: 200%;
  display: none;
}

.service:hover + div.my-dropdown-menu,
div.my-dropdown-menu:hover,
div.my-dropdown-menu ul:hover{
  display: block;
}

div.my-dropdown-menu ul li.nav-item:hover{
  background: #262626;
  transition: 0.1s;
}

div.my-dropdown-menu ul li.nav-item:hover > a{
  color: white;
  transition: 0.1s;
}

.repo-menu{
  height: 100vh;
  width: 100%;
  top: 0;
  transition: 0.5s;
  background-color: #dbf3fa;
}

#navi-btn{
  font-size: 25px;
}

.repo-menu .nav{
  margin-top: 25%;
}

.repo-menu .nav a{
  font-size: 1.5em;
  color: gray;
}

.repo-menu .nav .active{
  color: black;
  border: none;
}