html, body{
  padding: 0;
  margin: 0;
}

@font-face{
  font-family: "Comfortaa";
  src: url('../font/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}

input:focus{
  box-shadow: none!important;
  outline: none!important;
}

.m-0{
  margin: 0!important;
}

.p-0{
  padding: 0!important;
}

.pointer{
  cursor: pointer;
}

.app{
  min-height: 100vh;
}

.brand{
  font-family: "Comfortaa";
  font-size: 20px;
  color: #966fd6;
  font-weight: bold;
}

.active{
  color: #a483db!important;
  background-color: #f8f5fc;
}

.sidebar ul a{
  color: #262626;
  text-decoration: none!important;
}

#search{
  background-color: transparent;
  border: none;
}

#dropdown-btn{
  border: 1px solid #a483db;
  color: #a483db;
}

#dropdown-btn:hover{
  border: 1px solid #a483db;
  color: white;
  background-color: #a483db;
  transition: 0.2s;
}

.account-box{
  width: 160px;
}