html, body{
  padding: 0;
  margin: 0;
}

.row{
  margin: 0;
  padding: 0;
}

.container-fluid{
  min-height: 100vh;
}

.nav-link{
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2vw;
  margin: 0 15px 0 15px;
}

.brand{
  text-align: center;
}

.active{
  color: black;
  border-bottom: 3px solid black;
}

.m-0{
  margin: 0;
}

.p-0{
  padding: 0;
}

.logo{
  width: 150px!important;
}

img{
  width: 100%;
  height: auto;
}

.nav-link:hover{
  color: black;
}

.nav-1 li{
  width: 150px;
}

.overflow{
  overflow: scroll;
}

.pointer{
  cursor: pointer;
}

.fa-shopping-cart{
  font-size: 20px;
}

.slogan-section{
  min-height: 80vh;
}

.slogan{
  display: flex;
  justify-content: center;
  align-items: center;
}

.z-1{
  z-index: -1;
}

.z-100{
  z-index: 100;
}

.intro_prod{
  width: 600px;
}

.item1{grid-area: item1;}
.item2{grid-area: item2;}
.item3{grid-area: item3;}
.item4{grid-area: item4;}

.grid{
  display: grid;
  width: 75%;
  grid-template-areas: 
    "item1 item1 item1 item1 item1 item2 item2 item2 "
    "item1 item1 item1 item1 item1 item2 item2 item2 "
    "item1 item1 item1 item1 item1 item2 item2 item2 "
    "item1 item1 item1 item1 item1 item3 item3 item3 "
    "item1 item1 item1 item1 item1 item3 item3 item3 "
    "item1 item1 item1 item1 item1 item3 item3 item3 "
    "item4 item4 item4 item4 item4 item4 item4 item4 "
    "item4 item4 item4 item4 item4 item4 item4 item4 "
    "item4 item4 item4 item4 item4 item4 item4 item4 "
    "item4 item4 item4 item4 item4 item4 item4 item4 ";
    grid-gap: 5px;
}


@media only screen and (max-width: 576px) {
  .nav-link,.toggle{
    font-size: 20px;
  }

  .brand{
    text-align: left;
  }

  .grid{
    display: grid;
    width: 100%;
    grid-template-areas: 
      "item1 item1 item1 item1 item1 item1"
      "item1 item1 item1 item1 item1 item1"
      "item1 item1 item1 item1 item1 item1"
      "item1 item1 item1 item1 item1 item1"
      "item1 item1 item1 item1 item1 item1"
      "item1 item1 item1 item1 item1 item1"
      "item2 item2 item2 item3 item3 item3"
      "item2 item2 item2 item3 item3 item3"
      "item2 item2 item2 item3 item3 item3"
      "item4 item4 item4 item4 item4 item4"
      "item4 item4 item4 item4 item4 item4"
      "item4 item4 item4 item4 item4 item4"
      "item4 item4 item4 item4 item4 item4"
      ;
      grid-gap: 5px;
  }
}