<div class="wallpp"></div>
<div class="account-page">
  <div class="title-1">Sign In</div>
  <form action="./login" method="POST">
    <div class="ip-g">
      <div class="title-2">Username</div>
      <input required="required" class="ip" placeholder="Username" id="" name="username"/>
    </div>
    <div class="ip-g">
      <div class="title-2">Password</div>
      <input required="required" type="password" class="ip" placeholder="Password" id="" name="password"/>
    </div>
    <div class="ip-g">
      <div class="title-2">Captcha</div>
      <input required="required" type="text" class="ip" placeholder="Captcha" id="" name="captcha"/>
    </div>
    <img class="container" src="{{capPack.imgBase64}}" alt="" width="200px" height="auto" srcset="">
    <div class="ip-g center">
      <button type="submit">Login</button>
    </div>
    <table class="option">
      <tr>
        {{!-- <td><a href="./forgetpw.htm">*Forget password</a></td> --}}
        <td><a href="./register">Register</a></td>
      </tr>
    </table>
  </form>
</div>

{{#if error}}
<script>
  alert("Nhập sai username hoặc password");
</script>
{{/if}}

{{#if captcha_error}}
<script>
  alert("Nhập sai captcha");
</script>
{{/if}}