
<div class="container h-100 p-4">
  <div id="msgBox" class="msg-screen h-75 bg-light-yellow p-4">
    {{!-- <div class="other">
      <p>
        <span class="nickname">[ Name ]</span> ====> 
        Someone message
      </p>
    </div>
    <div class="me">
      <p class="text-success">
        <span class="nickname">[ Name ]</span> ====>
        My message
      </p>
    </div> --}}
  </div>
  <div class="input-group mb-3 my-4">
    <input id="msg" type="text" class="form-control" placeholder="=====> Message go here <=====" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button id="sendBtn" class="btn btn-outline-success sendBtn" type="button">Send</button>
    </div>
  </div>
</div>