
<div class="container h-100 p-4">
  <div class="msg-screen h-75 bg-light-yellow p-4">
    <div class="other">
      <p>Someone message</p>
    </div>
    <div class="me">
      <p class="text-success">
        My message
      </p>
    </div>
  </div>
  <div class="input-group mb-3 my-4">
    <input type="text" class="form-control" placeholder="=====> Message go here <=====" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-success sendBtn" type="button">Send</button>
    </div>
  </div>
</div>