html,body,.album{
  padding: 0;
  margin: 0;
}

.album{
  list-style: none;
  width: 350px;
}

.album a{
  text-decoration: none;
  color: black;
}

.album a li{
  padding: 10px 15px;
  margin: 10px 0px 0px 10px;
  border: 1px solid black;
}