<div class="container-todolist">
  <div class="title">
    <h1>Your things</h1>
    <p>Date</p>
  </div>
  <div class="todo-list">
    <ul>
      <li>
        <label for="prototype">
          <input type="checkbox" name="" id="prototype">
          <div class="icon-checkbox"></div>
          <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nam quisquam aspernatur rerum distinctio dolore ad laborum quasi voluptatibus, numquam vitae omnis obcaecati, quam ipsam. Aspernatur atque maxime ut quidem.</div>
        </label>
      </li>
    </ul>
  </div>
  <div class="add-btn-area"></div>
</div>