<div class="container">
  <div class="container-todolist">
    <div class="title">
      <h1>Your things</h1>
      <p>Date</p>
    </div>
    <div class="todo-list">
      <ul id="todo-list">
        <li>
          <div class="input-checkbox">
            <label for="prototype">
              <input type="checkbox" name="" id="prototype">
              <div class="checkbox"></div>
            </label>
          </div>
          <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis officiis ab ullam aliquam? Inventore doloremque aut qui. Atque accusamus vel repellendus ipsam, eum animi dolores illo! Iure iusto nihil sapiente.</div>
        </li>
      </ul>
    </div>
    <div class="add-btn-area">
      <button id="add-btn">+</button>
    </div>
    <script src="js/todolist.js"></script>
  </div>
</div>