<div class="container">
  <div class="container-todolist">
    <div class="header">
      <h1>Works to do</h1>
      {{!-- <p>Date</p> --}}
    </div>
    <div class="todo-list">
      <ul id="todo-list">
        <li>
          <div class="input-checkbox">
            <label for="prototype">
              <input type="checkbox" name="" id="prototype">
              <div id="checkbox"><span class="none">&#10004;</span></div>
            </label>
          </div>
          <div class="content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis officiis ab ullam aliquam? Inventore doloremque aut qui. Atque accusamus vel repellendus ipsam, eum animi dolores illo! Iure iusto nihil sapiente.
            <div class="date">dd-mm-yyyy ( hh:mm )</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="add-btn-area">
      <button id="add-btn">+ New Task</button>
    </div>
  </div>
  <div class="container-addtask">
    <div class="header">
      <div id="back"></div>
      <div>Something to do ?</div>
    </div>
    <center><textarea rows="10" placeholder="Your things"></textarea></center>
    <form action="">
      <div style="text-align: center;">
        <button type="submit" id="done">&#10004; Done</button>
      </div>
    </form>
  </div>
</div>
{{!-- <script>
  const data_from_server = "{{this.note}}".replace(/&quot;/g,"'");
</script> --}}
<script src="js/validation.js"></script>
<script src="js/todolist.js"></script>