@media (min-width: $xl){ 
    .banner{
        .banner-countdown{
            top: 50%;
            left: 75%;
            transform: translate(0, -50%);
            color: white;
            font-size: 4vw;
        }
    }
}