@font-face {
    font-family: 'Eina01-SemiBold';
    src: url('../../fonts/Eina01-SemiBold/Eina01-SemiBold.eot');
    src: url('../../fonts/Eina01-SemiBold/Eina01-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Eina01-SemiBold/Eina01-SemiBold.svg#Eina01-SemiBold') format('svg'),
         url('../../fonts/Eina01-SemiBold/Eina01-SemiBold.ttf') format('truetype'),
         url('../../fonts/Eina01-SemiBold/Eina01-SemiBold.woff') format('woff'),
         url('../../fonts/Eina01-SemiBold/Eina01-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Eina01-Bold';
    src: url('../../fonts/Eina01-Bold/Eina01-Bold.eot');
    src: url('../../fonts/Eina01-Bold/Eina01-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Eina01-Bold/Eina01-Bold.svg#Eina01-Bold') format('svg'),
         url('../../fonts/Eina01-Bold/Eina01-Bold.ttf') format('truetype'),
         url('../../fonts/Eina01-Bold/Eina01-Bold.woff') format('woff'),
         url('../../fonts/Eina01-Bold/Eina01-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'CamphorW01-Regular';
    src: url('../../fonts/CamphorW01-Regular/CamphorW01-Regular.svg#CamphorW01-Regular') format('svg'),
         url('../../fonts/CamphorW01-Regular/CamphorW01-Regular.ttf') format('truetype'),
         url('../../fonts/CamphorW01-Regular/CamphorW01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Camphor_W01_Regular';
    src: url('../../fonts/CamphorW01-Regular/Camphor_W01_Regular.eot');
    src: url('../../fonts/CamphorW01-Regular/Camphor_W01_Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/CamphorW01-Regular/Camphor_W01_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  