.footer{
    font-family: "Eina01-SemiBold";
    background: #f8f9fa;
    padding-top: 1rem;
    .footer-nav{
        background-color: whitesmoke;
        font-size: 15px;
        .footer-nav-row{
            padding: 1rem $footer-pm-x;
            border-top: 1px solid gray;
            .title{
                color: black;
            }
            .nav{
                padding-top: 1rem;
                a{
                    text-decoration: none;
                    color: gray;
                }
            }
            .footer-plus-icon{
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: gray;
            }
        }
        .footer-nav-last-row{
            border-bottom: 1px solid gray;
        }
    }
    .footer-social-nav{
        background-color: whitesmoke;
        color: gray;
        .nav-item{
            font-size: 1.5rem;
            margin: 0 $footer-pm-x;
            cursor: pointer;
        }
    }
    .footer-divider{
        width: 100%;
        height: 0;
        border-top: 1px solid gray;
    }
    .footer-right-container{
        background-color: whitesmoke;
        color: black;
        font-size: 0.8rem;
        padding: $footer-pm-y 0;
        span{
            cursor: pointer;
            margin: 0 $footer-pm-x;
        }
        .footer-right{
            padding: $footer-pm-y 0;
        }
        .footer-right-nation{
            padding: $footer-pm-y $footer-pm-x;
        }
        .footer-credit-card-container{
            padding: $footer-pm-y 0;
            .footer-credit-card{
                margin: 0 $footer-pm-x;
                width: 2rem;
                height: auto;
                border: 1px solid gray;
                border-radius: 0.2rem;
                background-color: white;
            }
        }
        .footer-copyright{
            padding: $footer-pm-y $footer-pm-x;
        }
    }
}

@media (min-width: $xl){
    .footer{
        background-color: #262626;
        margin-top: 55px;
        padding-bottom: 1.5rem;
        .footer-nav{
            background-color: transparent;
            padding: 0.8rem 0;
            font-family: "Eina01-SemiBold";
            font-size: 1vw;
            .footer-nav-row{
                border-top: none;
                .title{
                    color: white;
                    margin-bottom: 1rem;
                }
                .nav{
                    a{
                        text-decoration: none;
                        color: gray;
                    }
                }
            }
            .footer-nav-last-row{
                border-bottom: none
            }
        }
        .footer-social-nav{
            background: transparent;
            margin-top: 2rem;
            color: gray;
            .nav-item{
                cursor: pointer;
            }
        }
        .footer-divider{
            width: 100%;
            height: 0;
            border-top: 1px solid white;
        }
        .footer-right-container{
            background: #262626;
            padding: 0;
            font-size: 1vw;
            .footer-right{
                padding: 0;
                background: transparent;
                color: gray;
            }
            .footer-right-nation{
                padding-bottom: 3rem;
                margin-right: 1.8rem;
                color: gray;
                text-align: right;
            }
        }
    }
}