.first-nav, .second-nav{
    font-size: 1rem;
    font-weight: bold;
    font-family: "Camphor_W01_Regular";
    a{
        color: black;
    }
}
.second-nav{
    .nav-link{
        img{
            width: 1.1rem;
            height: auto;
        }
    }
}

@media (min-width: $xl){
    .first-nav, .second-nav{
        font-size: 1vw;
    }
    .first-nav{
        .nav-item{
            margin: 0 0.98rem;
        }
    }
    .second-nav{
        .nav-link{
            padding: .5rem .75rem;
            img{
                width: 1vw;
                height: auto;
            }
        }
    }
}