.mobile-nav-container{
    .mobile-nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 100;
        font-weight: bold;
        font-family: "Camphor_W01_Regular";
        right: -100%;
        ul{
            // padding: 5rem 0;
            .nav-item{
                margin: 1rem 0;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
