@import "../css/bootstrap.min.css";
@font-face {
  font-family: "Camphor_W01_Regular";
  src: url("../fonts/Camphor_W01_Regular.ttf");
}
@font-face {
  font-family: "Eina01-Bold";
  src: url("../fonts/Eina01-Bold.ttf");
}
@font-face {
  font-family: "Eina01-SemiBold";
  src: url("../fonts/Eina01-SemiBold.otf");
}
html {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: url("../images/topbar.png") no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 0.6rem;
  font-family: "Eina01-Bold";
}
.top-bar .close-topbar-btn {
  top: 0;
  right: 5%;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  padding: 0 !important;
}

.pointer {
  cursor: pointer;
}

.first-nav, .second-nav {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Camphor_W01_Regular";
}
.first-nav a, .second-nav a {
  color: black;
}

.text-underline {
  text-decoration: underline;
}

.second-nav .nav-link img {
  width: 1.1rem;
  height: auto;
}

.content-container {
  font-weight: bold;
}
.content-container .content-title-big {
  font-family: "Eina01-Bold";
  font-size: 45px;
}
.content-container .content-title-small {
  font-family: "Eina01-Bold";
  font-size: 30px;
}
.content-container .content {
  font-family: "Camphor_W01_Regular";
  font-size: 15px;
}
.content-container .content-container-bottom, .content-container .content-container-top {
  padding: 0 10%;
}
.content-container .content-container-bottom {
  transform: translateY(-10%);
  margin: 0 1rem;
}

.footer {
  font-family: "Eina01-SemiBold";
  background: #f8f9fa;
}
.footer .footer-nav {
  background-color: whitesmoke;
  font-size: 15px;
}
.footer .footer-nav .col-12 {
  padding: 0 0.5rem;
}
.footer .footer-nav .title {
  color: black;
}
.footer .footer-nav .nav a {
  text-decoration: none;
  color: gray;
}
.footer .footer-nav .footer-plus-icon {
  right: 0;
  top: 0;
  color: gray;
}
.footer .footer-social-nav {
  background-color: whitesmoke;
  color: gray;
}
.footer .footer-social-nav .nav-item {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.footer .footer-divider {
  width: 100%;
  height: 0;
  border-top: 1px solid gray;
}
.footer .footer-right-container {
  background-color: whitesmoke;
  color: black;
  font-size: 0.8rem;
  padding: 0.8rem 0;
}
.footer .footer-right-container span {
  cursor: pointer;
  margin: 0 0.5rem;
}
.footer .footer-right-container .footer-right {
  padding: 0.8rem 0;
}
.footer .footer-right-container .footer-right-nation {
  padding: 0.8rem 0.5rem;
}
.footer .footer-right-container .footer-credit-card-container {
  padding: 0.8rem 0;
}
.footer .footer-right-container .footer-credit-card-container .footer-credit-card {
  margin: 0 0.5rem;
  width: 2rem;
  height: auto;
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: white;
}
.footer .footer-right-container .footer-copyright {
  padding: 0.8rem 0.5rem;
}

@media (min-width: 1200px) {
  .top-bar {
    font-size: 0.8rem;
  }

  .first-nav, .second-nav {
    font-size: 0.85rem;
  }

  .second-nav .nav-link img {
    width: 0.9rem;
    height: auto;
  }

  .content-container {
    padding: 0 5rem;
  }
  .content-container .content-container-word {
    margin-top: 65px;
  }
  .content-container .content-container-top {
    padding: 0;
  }
  .content-container .content-title-big {
    font-size: 3.4rem;
  }
  .content-container .content-title-small {
    font-size: 1.75rem;
  }
  .content-container .content {
    font-size: 0.9rem;
  }
  .content-container .content-container-bottom {
    transform: translateX(-12.5%) translateY(0);
    margin: 1rem 0;
  }

  .footer {
    background-color: #272727;
    margin-top: 55px;
    padding-bottom: 1.5rem;
  }
  .footer .footer-nav {
    background-color: transparent;
    padding: 1.5rem 0;
    font-family: "Eina01-SemiBold";
    font-size: 15px;
  }
  .footer .footer-nav .title {
    color: white;
    margin-bottom: 1.5rem;
  }
  .footer .footer-nav .nav a {
    text-decoration: none;
    color: gray;
  }
  .footer .footer-social-nav {
    background: transparent;
    margin-top: 55px;
    color: gray;
  }
  .footer .footer-social-nav .nav-item {
    cursor: pointer;
  }
  .footer .footer-divider {
    width: 100%;
    height: 0;
    border-top: 1px solid white;
  }
  .footer .footer-right-container {
    background: #272727;
    padding: 0;
  }
  .footer .footer-right-container .footer-right {
    padding: 0;
    background: transparent;
    color: gray;
  }
  .footer .footer-right-container .footer-right-nation {
    padding: 0;
    color: gray;
    text-align: right;
  }
}

/*# sourceMappingURL=main.css.map */
