@font-face {
  font-family: "Eina01-SemiBold";
  src: url("../../fonts/Eina01-SemiBold/Eina01-SemiBold.eot");
  src: url("../../fonts/Eina01-SemiBold/Eina01-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Eina01-SemiBold/Eina01-SemiBold.svg#Eina01-SemiBold") format("svg"), url("../../fonts/Eina01-SemiBold/Eina01-SemiBold.ttf") format("truetype"), url("../../fonts/Eina01-SemiBold/Eina01-SemiBold.woff") format("woff"), url("../../fonts/Eina01-SemiBold/Eina01-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Eina01-Bold";
  src: url("../../fonts/Eina01-Bold/Eina01-Bold.eot");
  src: url("../../fonts/Eina01-Bold/Eina01-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Eina01-Bold/Eina01-Bold.svg#Eina01-Bold") format("svg"), url("../../fonts/Eina01-Bold/Eina01-Bold.ttf") format("truetype"), url("../../fonts/Eina01-Bold/Eina01-Bold.woff") format("woff"), url("../../fonts/Eina01-Bold/Eina01-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CamphorW01-Regular";
  src: url("../../fonts/CamphorW01-Regular/CamphorW01-Regular.svg#CamphorW01-Regular") format("svg"), url("../../fonts/CamphorW01-Regular/CamphorW01-Regular.ttf") format("truetype"), url("../../fonts/CamphorW01-Regular/CamphorW01-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Camphor_W01_Regular";
  src: url("../../fonts/CamphorW01-Regular/Camphor_W01_Regular.eot");
  src: url("../../fonts/CamphorW01-Regular/Camphor_W01_Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/CamphorW01-Regular/Camphor_W01_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  margin: 0;
  padding: 0;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .banner .banner-countdown {
    top: 50%;
    left: 75%;
    transform: translate(0, -50%);
    color: white;
    font-size: 4vw;
  }
}
.mobile-nav-container .mobile-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  font-weight: bold;
  font-family: "Camphor_W01_Regular";
  right: -100%;
}
.mobile-nav-container .mobile-nav ul .nav-item {
  margin: 1rem 0;
}
.mobile-nav-container .mobile-nav ul a {
  text-decoration: none;
  color: black;
}

.top-bar {
  background: linear-gradient(to right, #ffc00e, #81c141);
  background-size: cover;
  font-weight: bold;
  font-size: 0.7rem;
  font-family: "Eina01-Bold";
}
.top-bar .close-topbar-btn {
  top: 0;
  right: 5%;
}

@media (min-width: 1200px) {
  .top-bar {
    font-size: 1vw;
  }
}
.first-nav, .second-nav {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Camphor_W01_Regular";
}
.first-nav a, .second-nav a {
  color: black;
}

.second-nav .nav-link img {
  width: 1.1rem;
  height: auto;
}

@media (min-width: 1200px) {
  .first-nav, .second-nav {
    font-size: 1vw;
  }

  .first-nav .nav-item {
    margin: 0 0.98rem;
  }

  .second-nav .nav-link {
    padding: 0.5rem 0.75rem;
  }
  .second-nav .nav-link img {
    width: 1vw;
    height: auto;
  }
}
.content-container {
  font-weight: bold;
}
.content-container .content-title-big {
  font-family: "Eina01-Bold";
  font-size: 45px;
}
.content-container .content-title-small {
  font-family: "Eina01-Bold";
  font-size: 30px;
}
.content-container .content {
  font-family: "Camphor_W01_Regular";
  font-size: 15px;
}
.content-container .content a {
  color: black;
}
.content-container .content-container-bottom, .content-container .content-container-top {
  padding: 0 10%;
}
.content-container .content-container-bottom {
  transform: translateY(-10%);
  margin: 0 1rem;
}

@media (min-width: 1200px) {
  .content-container {
    padding: 0 7.7rem;
  }
  .content-container .content-container-word {
    margin-top: 4.5vw;
  }
  .content-container .content-container-top {
    padding: 0;
  }
  .content-container .content-title-big {
    font-size: 3.8vw;
  }
  .content-container .content-title-small {
    font-size: 2vw;
  }
  .content-container .content {
    font-size: 1vw;
  }
  .content-container .content-container-bottom {
    transform: translateX(-4vw) translateY(0);
    margin: 2vw 0;
  }
}
.footer {
  font-family: "Eina01-SemiBold";
  background: #f8f9fa;
  padding-top: 1rem;
}
.footer .footer-nav {
  background-color: whitesmoke;
  font-size: 15px;
}
.footer .footer-nav .footer-nav-row {
  padding: 1rem 0.5rem;
  border-top: 1px solid gray;
}
.footer .footer-nav .footer-nav-row .title {
  color: black;
}
.footer .footer-nav .footer-nav-row .nav {
  padding-top: 1rem;
}
.footer .footer-nav .footer-nav-row .nav a {
  text-decoration: none;
  color: gray;
}
.footer .footer-nav .footer-nav-row .footer-plus-icon {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
.footer .footer-nav .footer-nav-last-row {
  border-bottom: 1px solid gray;
}
.footer .footer-social-nav {
  background-color: whitesmoke;
  color: gray;
}
.footer .footer-social-nav .nav-item {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.footer .footer-divider {
  width: 100%;
  height: 0;
  border-top: 1px solid gray;
}
.footer .footer-right-container {
  background-color: whitesmoke;
  color: black;
  font-size: 0.8rem;
  padding: 0.8rem 0;
}
.footer .footer-right-container span {
  cursor: pointer;
  margin: 0 0.5rem;
}
.footer .footer-right-container .footer-right {
  padding: 0.8rem 0;
}
.footer .footer-right-container .footer-right-nation {
  padding: 0.8rem 0.5rem;
}
.footer .footer-right-container .footer-credit-card-container {
  padding: 0.8rem 0;
}
.footer .footer-right-container .footer-credit-card-container .footer-credit-card {
  margin: 0 0.5rem;
  width: 2rem;
  height: auto;
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: white;
}
.footer .footer-right-container .footer-copyright {
  padding: 0.8rem 0.5rem;
}

@media (min-width: 1200px) {
  .footer {
    background-color: #262626;
    margin-top: 55px;
    padding-bottom: 1.5rem;
  }
  .footer .footer-nav {
    background-color: transparent;
    padding: 0.8rem 0;
    font-family: "Eina01-SemiBold";
    font-size: 1vw;
  }
  .footer .footer-nav .footer-nav-row {
    border-top: none;
  }
  .footer .footer-nav .footer-nav-row .title {
    color: white;
    margin-bottom: 1rem;
  }
  .footer .footer-nav .footer-nav-row .nav a {
    text-decoration: none;
    color: gray;
  }
  .footer .footer-nav .footer-nav-last-row {
    border-bottom: none;
  }
  .footer .footer-social-nav {
    background: transparent;
    margin-top: 2rem;
    color: gray;
  }
  .footer .footer-social-nav .nav-item {
    cursor: pointer;
  }
  .footer .footer-divider {
    width: 100%;
    height: 0;
    border-top: 1px solid white;
  }
  .footer .footer-right-container {
    background: #262626;
    padding: 0;
    font-size: 1vw;
  }
  .footer .footer-right-container .footer-right {
    padding: 0;
    background: transparent;
    color: gray;
  }
  .footer .footer-right-container .footer-right-nation {
    padding-bottom: 3rem;
    margin-right: 1.8rem;
    color: gray;
    text-align: right;
  }
}

/*# sourceMappingURL=main.css.map */
