@font-face {
  font-family: 'CamphorW01-Regular';
  src: url('CamphorW01-Regular.svg#CamphorW01-Regular') format('svg'),
       url('CamphorW01-Regular.ttf') format('truetype'),
       url('CamphorW01-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Camphor_W01_Regular';
  src: url('Camphor_W01_Regular.eot');
  src: url('Camphor_W01_Regular.eot?#iefix') format('embedded-opentype'),
       url('Camphor_W01_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

