.mfrtl{
    animation: move-from-right-to-left 1s;
    animation-fill-mode: forwards;
}
.fade-in{
    animation: fade-in 5s infinite;
}
.fade-out{
    animation: fade-out 2s;
    animation-fill-mode: forwards;
}
@keyframes move-from-right-to-left{
    /* use for position absolute */
    0%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}
@keyframes fade-in{
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes move-down{ /*login box*/
    0%{
        top:20%;
    }
    50%{
        top:55%;
    }
    100%{
        top:50%;
    }
}