html, body{
  height: 100%;
  background: whitesmoke;
}

button:focus,
input:focus,
td:focus{
  outline: none! important;
  box-shadow: none! important;
}

table{
  border-collapse: collapse;
  height: 100%;
  width: auto;
  border: 2px solid black;
}

.random{
  font-weight: bold;
  color: red;
}

table td{
  width: 10px;
  border: 1px solid gray;
  width: 55px;
  height: 55px;
  font-size: 16px;
  padding: 0;
}

@font-face{
  font-family: "Rosemary";
  src: url("../font/Rosemary/DroidSans.ttf");
}

.title{
  font-family: "Rosemary";
  font-size: 75px;
}

.option{
  font-family: "Rosemary";
}
.content-1{
  font-size: 20px;
}

table tr:nth-child(3){
  border-bottom: 2px solid black;
}

table tr:nth-child(6){
  border-bottom: 2px solid black;
}

.h-auto{
  height: auto;
}

.btn{
  font-family: "Rosemary";
  border: 3px solid black;
  width: 150px;
  border-radius: 0px;
  font-size: 18px;
}

.resetBtn{
  background-color: #EE420B;
}

.asBtn{
  background-color: #FFC300;
}

.checkBtn{
  background-color: #34E12D;
}

.expl{
  font-size: 18px;
}

.copyright{
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}