html,body{
  margin: 0;
  padding: 0;
  background: #262626;
}
#bg{
  position: fixed; /* Để fixed là vì nếu có nhiều ảnh thì bg vẫn dc kéo theo */
  top: 0;
  left:0;
  right:0;
  bottom: 0;
}
#container{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  align-items: center;
}
.element{
  width: 384px;
  height: 216px;
  border: 1px solid black;
  margin: 20px;
  cursor: pointer;
}