@font-face {
  font-family: 'Eina01-Bold';
  src: url('Eina01-Bold.eot');
  src: url('Eina01-Bold.eot?#iefix') format('embedded-opentype'),
       url('Eina01-Bold.svg#Eina01-Bold') format('svg'),
       url('Eina01-Bold.ttf') format('truetype'),
       url('Eina01-Bold.woff') format('woff'),
       url('Eina01-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

