@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
html,body{
  padding: 0;
  margin: 0;
  /* background: cyan; */
}

/* font-family: 'Pacifico', cursive; */
.log{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1%;
}
.log a{
  text-decoration: none;
  color: rgb(90, 88, 88);
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  margin: 0 2% 0 2%;
}
.brand{
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: 6%;
  font-size: 75px; 
}
.pnf{
  position: relative;
  font-size: 10vh;
  font-family: monospace;
  text-align: center;
}
ul{
  margin: 0; padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
ul li{
  float: left;
  margin: 0px 2% 0px 2%;
}
ul li a{
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  outline: none;
  color: gray;
  font-size: 20px;
  /* border: 2px solid gray; */
}
.container-album{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.a-frame{
  text-decoration: none;
  outline: none;
  margin: 2%;
}
.frame{
  width: 384px;
  height: 216px;
  /* border: 1px solid yellow; */
}
.bg-log-page{
  position: absolute;
  top:0; left:0; right:0; bottom: 0;
  background: url('./forest-landscape-mountains.jpg') no-repeat;
  background-size: cover;
  z-index: -2;
}
.black-glass-log-page{
  position: absolute;
  top:0; left:0; right:0; bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: -1;
}
.home-btn{
  position: absolute;
  margin: 2% 0 0 2%;
}
.home-btn a{
  text-decoration: none;
  color: black;
  font-size: 115%;
  padding: 5px 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.home-btn a:hover{
  border-bottom: 2px solid black;
}
.lg-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}
.lg-box > p{
  font-family: 'consolas';
  font-weight: bold;
  /* margin: 0; */
}
.ip-bar{
  margin-top: 15px;
  width: 25%;
  border-bottom: 1px solid black;
}
.ip-bar input{
  outline: none;
  padding: 5px 5px;
  width: 90%;
  background: transparent;
  border:none;
  /* font-weight: bold; */
  /* font-size: 100%; */
}
.ip-bar input::placeholder{
  color: black;
}
.check-box{
  display: flex;
  margin: 2% 0 0 0;
}
.check-box > p{
  margin: 0;
  font-family: 'consolas';
}
.btn{
  margin-top: 3%;
  background: transparent;
  font-size: 115%;
  letter-spacing: 3px;
  border:2px solid black;
  color: black;
  outline: none;
  cursor: pointer;
}
.btn > p{
  font-family: 'consolas';
  font-weight: bold;
  margin: 5px 10px;
}
.btn:hover{
  background: black;
  color:white;
}
.error{
  text-align: center;
  color:red;
  font-style: italic;
}
.container-upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:5%;
}
.upload-box{
  /* w: 640px; h: 360px */
  position: relative;
  /* border: 1px solid yellow; */
}
#upload-btn{
  display: none;
}
.upload-box > label{
  border: 2px solid cornflowerblue;
  padding: 10px 15px;
  color: cornflowerblue;
  font-weight: bold;
  font-size: 110%;
  font-family: 'consolas';
  cursor: pointer;
  border-radius: 25px;
}
.btn-discard{
  position: absolute;
  right: 20px; top: 20px;
  padding: 8px 12px;
  font-family: 'consolas';
  font-weight: bold;
  border-radius: 25px;
  color: transparent;
  border: none;
  cursor: pointer;
}
.btn-discard:hover{
  border: 2px solid red;
  color: white;
  background: red;
}
.infor-box{
  position: relative;
}
.btn-post{
  margin: 15px 0 30px 0;
  padding: 10px 15px;
  font-family: 'consolas';
  background: transparent;
  font-size: 105%;
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 25px;
}