html,body{
    margin: 0;
    padding: 0;
}
canvas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: black;
    z-index: -1;

}
#score{
    position: absolute;
    top: 20%;
    left:10%;
    font-size: 500%;
    transform: translate(-50%,-50%);
}
.replay{
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
    display: none;
}
.replay .p{
    font-size: 600%;
    font-family: "Comic Sans MS";
    color: whitesmoke;
    margin-bottom: 25px;
}
.btn{
    padding: 20px 40px;
    border: 4px solid chartreuse;
    color: chartreuse;
    background: transparent;
    font-size: 300%;
    cursor: pointer;
}
.show{
    display: block;
}