html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.conTainer{
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  z-index: -1;
}

.conTainer .left-ct{
  position: relative;
  background: #131C37;
}

.conTainer .left-ct .title{
  color: white;
  letter-spacing: 2px;
  padding: 25px 0 25px 35px;
  text-transform: uppercase;
  font-size: 110%;
}

.conTainer .left-ct .navi{
  color: white;
  margin: 0;
  padding: 0;
}

.conTainer .left-ct .navi .navi-item{
  padding: 15px 0 15px 35px;
  font-size: 90%;
  text-transform: uppercase;
}

.conTainer .left-ct .navi .navi-item a{
  color: white;
}

.conTainer .right-ct{
  background: #0F172E;
  display: grid;
  grid-template-columns: 65% 35%;
}

.conTainer .right-ct .news{
  /* border-right: 1px solid white; */
}

.conTainer .right-ct .news .song-list{
  color: white;
}

.conTainer .right-ct .news .song-list ul{
  margin: 0;
  padding: 0;
}

.conTainer .right-ct .news .song-list ul li{
  display: block;
  width: 100%;
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: 40% 25% 25% 10%;
}

.conTainer .right-ct .news .song-list ul li div{
  display: inline-block;
  font-size: 90%;
  padding: 15px 0;
}

.conTainer .right-ct .news .song-list ul li div:nth-child(4){
  cursor: pointer;
}

.conTainer .right-ct .infor{

}

.conTainer .right-ct .infor .log-nav{
  height: 10%;
}

.conTainer .right-ct .infor .log-nav ul{
  color: whitesmoke;
}

.conTainer .right-ct .infor .log-nav ul li{
  float: right;
  margin-right: 25px;
}

.conTainer .right-ct .infor .log-nav ul li a{
  color: gray;
  font-size: 88%;
}

.conTainer .right-ct .infor .pl-nav{

}

.audio-nav{
  position: absolute;
  height: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(245, 245, 245, 0.3);
  display: grid;
  grid-template-columns: 25% 75%;
}

.audio-nav .control{
  width: 100%;
  border: 1px solid wheat;
  display: flex;
  flex-direction: row;
}

.audio-nav .control .play-ct{
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 10%;
  cursor: pointer;
}

.audio-nav .control .timeline{
  display: grid;
  width: 80%;
  grid-template-columns: 15% 70% 15%;
}

.audio-nav .control .timeline .line{
  background-color: gray;
  height: 10%;
  margin-top: 2px;
}

.audio-nav .control div{
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}