@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}
*{
  /* border: 1px solid black; */
}
body{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
}
.rlt{
  position: relative;
}
.main-title{
  background: #2D9CDB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title div{
  font-size: 180%;
  letter-spacing: 2px;
}
.area-nav{
  background: #56CCF2;
}
.area-todolist{
  background: white;
}
.area-todolist ul{
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  width: 100%;
}
.area-todolist ul li{
  display: grid;
  grid-template-columns: 20% 70%;
}
.area-todolist ul li .check-box label{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  border: 1px solid gray;
  display: block;
}
.area-todolist ul li .check-box input{
  display: none;
}
.area-todolist ul li .content-demo{
  color: #262626;
}
.area-notelist{
  background: #F2F2F2;
}