@font-face {
  font-family: 'Eina01-SemiBold';
  src: url('Eina01-SemiBold.eot');
  src: url('Eina01-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('Eina01-SemiBold.svg#Eina01-SemiBold') format('svg'),
       url('Eina01-SemiBold.ttf') format('truetype'),
       url('Eina01-SemiBold.woff') format('woff'),
       url('Eina01-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

