{{!-- <h1>{{pics}}</h1> --}}
<div class='container-album'>
  {{!-- <img class='frame' src="../img/40711135335_e7e076a948_k.jpg" alt=""> --}}
  {{#each pics}}
  <a target="_blank" class='a-frame' href="../img/{{this}}">
    <img class='frame' src="../img/{{this}}">
  </a>
  {{/each}}
</div>
